{#
/**
 * @file invoice_contact.html.twig
 * Default theme implementation to present Invoice contact data.
 *
 * This template is used when viewing Invoice contact pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_invoice_contact()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('invoice_contact') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
