{#
/**
 * @file invoice_line.html.twig
 * Default theme implementation to present Invoice line data.
 *
 * This template is used when viewing Invoice line pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_invoice_line()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('invoice_line') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
